@page
@model WebApplication1.UserDashboardModel
@{
    ViewData["Title"] = "UserDashboard";
}
<input type="radio" name="hall" value="umang"> Umang
<br>
<input type="radio" name="hall" value="utsav"> Utsav
<br>

    Book for:
<input type="date" name="date">
<br />
<button type="submit">Check Availability</button>
